<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Test Automation Suite" parallel="classes">
	<test name="TestNG App Test">

		<classes>
			<class name="docker.ChromeTest1"></class>
			<class name="docker.ChromeTest2"></class>
			<class name="docker.FirefoxTest1"></class>
			<class name="docker.FirefoxTest2"></class>
		</classes>

	</test>
</suite>